.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    /* background: url(../../img/slack.jpg); */
    justify-content: center;
}

.paginado {
    display: flex;
    justify-content: center;
}